<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.Title %>
  </p>

  <p>
    <strong>Logline:</strong>
    <%= story.Logline %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= story.Description %>
  </p>

</div>
